---
layout: wrapper
---

<div id="home-banner">
	<img id="home-bannerImg" src="assets/images/general/SW-general-banner.jpg">
</div>

<div id="home-triContainer">

	<div class="home-triButton">
		<a href="{{ site.baseurl }}/models">
			<img id="home-modelButtonImg" src="assets/images/general/models-vert-off.jpg" onmouseover="this.src='assets/images/general/models-vert-on.jpg'" onmouseout="this.src='assets/images/general/models-vert-off.jpg'">
		</a>
	</div>

	<div class="home-triButton">
		<a href="{{ site.baseurl }}/photography">
			<img id="home-photoButtonImg" src="assets/images/general/photo-vert-off.jpg" onmouseover="this.src='assets/images/general/photo-vert-on.jpg'" onmouseout="this.src='assets/images/general/photo-vert-off.jpg'">
		</a>
	</div>

	<div class="home-triButton">
		<a href="https://asterisk93.github.io/BiteSizeReviews/">
			<img id="home-bsrButtonImg" src="assets/images/general/bsr-vert-off.jpg" onmouseover="this.src='assets/images/general/bsr-vert-on.jpg'" onmouseout="this.src='assets/images/general/bsr-vert-off.jpg'">
		</a>
	</div>
</div>

<div id="home-navContainer">
	
	<div id="home-blog">
		<a href="https://asterscadaver.wordpress.com/">
			<span class="home-navText">Project Blog</span>
		</a>
	</div>

	<div class="home-navButton">
		<a href="https://www.redbubble.com/">
			<span class="home-navText">Store</span>
		</a>
	</div>

	<div class="home-navButton">
		<a href="https://www.instagram.com/studio_wayward/">
			<span class="home-navText">Instagram</span>
		</a>
	</div>

	<div id="home-contact">
		<a href="">
			<span class="home-navText">Contact</span>
		</a>
	</div>		
</div>